@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color:#134266;
    --secondary-color:#fce172;
    --accent1-color: #9F6315;
    --accent2-color:#1D1D6F;

    --heading-font: 'Noto Sans', sans-serif;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color:#3D6B8E;
    --nav-link-color:#050538;
    --nav-hover-link-color:#3D6B8E;
    --nav-hover-background-color:#050538;
}

body {
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color: #9F6315;
}

header {
    padding: 15px;
    background-color:var(--secondary-color);
}

p {
    padding: 10px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding:1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color:var(--nav-hover-background-color);
}