.callout {
	max-width:400px;
    margin:10px;
    border: 1px solid rgba(0,0,0,.1);
    padding:15px;
    background-color: #247;
    color: #fff;
}

.callout img {
	float: right;
    margin-left:15rem;
    margin: 0 0 10px 15px;
    border: 1px white solid;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: auto;
}

blockquote {
	margin:0;
}

cite {
	display:block;
    border-top: 1px white dotted;
    text-align: right;
    padding-top: 3px;
    font-size:smaller;
}