* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width:840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    /* margin:0 auto; */
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration:none;
    transition-duration: 200ms;
}

nav a:hover {
    color:#333;
    background-color:#e3e3e3;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float:right;
    margin-top:1rem;
    margin-left:1rem;
}

p {
    padding: 0;
}

main {
    margin: 0 auto;
    
}

main h1 {
    border-bottom: 1px solid steelblue;
}

aside {
    margin: 2rem auto;
    max-width:1000px;
    color: black;
    position:relative;
}

aside img {
    width:250px;
    height:500px;
    object-fit: contain;
}

aside h2 {
    position: absolute;
    top:50px;
    left:50px;
    color:#fff;
}

footer {
    margin-top:2rem;
    border-top: 2px solid #333;
    text-align:center;
}

/* Class Selectors */

.box {
    /* margin:1rem; */
    margin-top: 2rem;
    padding:2rem;
    border:2px solid grey;
    background-color:#e3e3e3;
    clear:both;
}

.grid {
    display: grid;
    align-items: center;
}

.grid main {
    grid-column: 2 / 4;
    margin: 1rem;
}

.grid aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 20rem;
    position:relative;
}

.state-image img {
    object-fit: cover;
}